# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Playwright
test-results/
playwright-report/
playwright/.cache/
blob-report/

# Allure
allure-results/
allure-report/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# TypeScript
*.tsbuildinfo
